div{
  height: 200px;
  width: 100%;
}
body{
  margin: 0;
}

h1{
  margin-top: 0;
}

.top-container{
  background-color: white;
  color: red;
  border-style: solid;
  border-color: red;
  border-right: 0;
  border-left: 0;
  border-top: 0;

}

.bottom-container{
  background-color: white;
  color: red;
  border-style: solid;
  border-color: red;
  border-right: 0;
  border-left: 0;


}

.middle-container{
  background-color: red;
  color: white;
  border-style: solid;
  border-color: white;
  border-right: 0;
  border-left: 0;
}
